/* -------------------------------------------
DESKTOP
---------------------------------------------- */



/* GENERAL */
	
	* {
		box-sizing: border-box; }

	html {
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility; }

	body, html {
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0; }



/* COMPOSITION */

	header, #baseline {
		width: 100%;
		height: 50px;
		position: fixed;
		background-color: #ffffff;
		left: 0;
		z-index: 1;
		padding: 0 30px; }

	header {
		top: 0; }

		.home {
			display: inline-block;
			width: 70px;
			margin-top: 15px; }

		.contact-link {
			float: right;
			display: inline-block; }

	#baseline {
		bottom: 0; }



/* TYPOGRAPHY */

	body {
		color: #272829;
		font-family: 'Lato', sans-serif; }

	.serif {
		font-family: 'Noto Serif', serif;
		font-style: italic;
		font-size: .95em;
		letter-spacing: -2px;
		font-weight: 700;
	}

	h1 {
		font-size: 2em;
		line-height: 1.3;
		letter-spacing: -1.5px;
		font-weight: 400; }

	h2 {
		font-size: 1.2em;
		line-height: 1.5;
		letter-spacing: -.5px;
		font-weight: 400;
	}

	.link {
		font-size: 0.7em;
		text-decoration: none;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 0.2px;
		display: inline-block;
		line-height: 50px;
		cursor: pointer; }

	.brand-link {
		text-decoration: none;
		border-bottom: 1px dotted #272829;
		color: #272829;
	}

	.about-link {
		transition: .6s cubic-bezier(.5,.01,.19,.91); }

/* WRAPPER */

	#wrapper {
		height: 100%;
		width: 100%; }



/* MAIN */

	#main {
		height: 100%;
		width: 100%;
		top: 0; left: 0;
		position: relative;
		transition: .6s cubic-bezier(.5,.01,.19,.91); }

		#main.about-active {
			left: 50%;
			opacity: .1; }

		#main.rm-study-active {
			left: -50%; }

		#main.ms-study-active {
			left: -50%; }

		.vheight {
			height: calc(100% - 100px);
			width: 100%; 
			position: relative;}

		#landing { 
			margin: 50px 0; }

			.inner {
				top: 50%;
				position: absolute;
				transform: translateY(-50%);
				padding: 0 5em; }

		#rightmove {
			margin-bottom: 30px; }

		#microsoft {
			margin-bottom: 30px; }

			.project {
				height: 100%;
				width: 50%;
				float: left; }

				.overview { }

				.hero {
					background-color: #f7f6f5;
					padding-right: 30px; }

		#context {  }

			.context-type {
				float: left;
				width: 50%; }



/* ABOUT */

	#about {
		height: 100%;
		position: fixed;
		width: 50%;
		background-color: #111111;
		top: 0;
		left: -50%;
		transition: .6s cubic-bezier(.5,.01,.19,.91);
		color: #ffffff; }

		#about.about-active {
			left: 0; }



/* WORK */

	#work { }

		.study {
			width: 50%;
			top: 0; }

			#rm {
				left: 100%;
				padding-top: 20%;
				position: fixed;
				transition: .6s cubic-bezier(.5,.01,.19,.91); }

				#rm.rm-study-active {
					left: 50%; }

			#ms {
				left: 100%;
				padding-top: 20%;
				position: fixed;
				transition: .6s cubic-bezier(.5,.01,.19,.91); }

				#ms.ms-study-active {
					left: 50%; }























