
	* {
		box-sizing: border-box;
	}

	html {
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
	}

	body, html {
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	nav {
		width: 100%;
		height: 50px;
		background-color: red;
		opacity: .5;
		bottom: 0;
		left: 0;
		position: fixed;
		z-index: 100;
	}

	.link {
		display: inline-block;
		margin-left: 50px;
		margin-top: 17px;
		text-align: center;
		color: white;
		font-weight: 700;
	}

	#resume {
		background-color: black;
		width: 50%;
		height: 100%;
		position: fixed;
		left: -48%;
		transition: .9s cubic-bezier(.5,.01,.19,.91);
		z-index: 2;
	}

	#resume.on {
		left: 0;
	}

	.sections-wrapper {
		width: 100%;
		height: 100%;
		position: relative;
		top: 0;
		left: 0;
	}

	.block {
		top: 0;
		left: 0;
		display: none;
		overflow: hidden;
		width: 100%;
		height: 100%;
		position: absolute;
		-webkit-transition: -webkit-transform 500ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
		-moz-transition: -moz-transform 500ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
		-o-transition: -o-transform 500ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
		transition: transform 500ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
	}

	.block.is-active {
		z-index: 100;
		display: block;
	}

	.block.is-prev {
		-webkit-transform: translate3d(0, -100%, 0);
		-moz-transform: translate3d(0, -100%, 0);
		-ms-transform: translate3d(0, -100%, 0);
		-o-transform: translate3d(0, -100%, 0);
		transform: translate3d(0, -100%, 0);
		display: block;
	}

	.block.is-next {
		-webkit-transform: translate3d(0, 100%, 0);
		-moz-transform: translate3d(0, 100%, 0);
		-ms-transform: translate3d(0, 100%, 0);
		-o-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
		display: block;
	}

	.resume {
		background-color: black;
	}

	.p1 {
		background-color: red;
	}

	.p2 {
		background-color: yellow;
	}



















