/* IMPORT */

@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i');

/* GENERAL */

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

html {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

#wrapper {
	height: 100%;
	width: 100%;
}

.clearfix:after {
	visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

hr {
		border: 1px solid #f5f5f5;
		width: 100%;
	}

/* TYPE */

h1 {
	font-size: 2.25em;
	line-height: 1.4;
	letter-spacing: .15px;
	font-weight: 400;
	color: #1c1c1c;
}

h2 {
	font-size: 2em;
	line-height: 1.4;
	letter-spacing: .15px;
	font-weight: 400;
	color: #1c1c1c;
}

h3 {
	font-size: 1.15em;
	line-height: 1.6;
	letter-spacing: .1px;
	font-weight: 400;
	color: #a3a3a3;
}
	
	a {
		text-decoration: none;
		color: #1c1c1c;
	}

	.type-normal {
		font-size: .9em;
		color: #a3a3a3;
		line-height: 1.6;
	}

	.type-strong {
		color: #1c1c1c;
		font-size: 1em;
		line-height: 1.5;
		margin-bottom: 1.2em;
	}

	.type-cs-cta {
		color: #ffffff;
	}

	.type-mail-link {
		color: #1c1c1c;
	}

		.type-mail-link:hover {
			opacity: .5;
		}

	.type-emphasis {
		color: #1c1c1c;
	}

	.type-quote {
		font-family: 'Noto Serif', serif;
		font-size: 1.5em;
		font-style: italic;
		line-height: 1.3;
		letter-spacing: .15px;
		font-weight: 400;
		color: #1c1c1c;
		text-align: center;
	}

	.type-author {
		font-size: .9em;
		color: #a3a3a3;
		line-height: 1.6;
		text-align: center;
		margin-top: 1.2em;
	}

	.type-brand-link {
		cursor: pointer;
		color: #04c19f;
	}

		.type-brand-link:hover {
			opacity: .6;
		}

	.type-align-right {
		text-align: right;
	}

/* HEADER */

header {
	background-color: #ffffff;
	height: 100%;
	width: 42px;
	border-right: 1px solid #e5e5e5;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 9;
}

	.header-logo {
		margin-left: 12px;
		margin-top: 15px;
		cursor: pointer;
	}

/* SITE CONTENT */

#site-content {
	height: 100%;
	width: calc(100% - 42px);
	top: 0;
	left: 0;
	margin-left: 42px;
	position: relative;
}

/* LANDING */

#landing {
	height: 100%;
	width: 100%;
	position: relative;
	background-color: #fff;
}

	#landing-primary {
		height: 100%;
		width: 65%;
		padding: 0 2.4em;
		float: left;
		position: relative;
	}

		#landing-primary-strapline {
			top: 2.4em;
			position: absolute;
		}

		#landing-primary-content {
			top: 50%;
			transform: translateY(-50%);
			position: absolute;
			width: calc(100% - 4.8em);
			max-width: 820px;
		}

			.landing-primary-content-sub {
				margin-top: 1.2em;
			}

		#landing-primary-nav {
			bottom: 2.4em;
			position: absolute;
		}

	#landing-secondary {
		background-color: #f5f5f5;
		height: 100%;
		width: 35%;
		float: left;
	}

/* CASE STUDIES */

#case-studies {
	height: 100%;
	width: 100%;
	position: relative;
}

	.cs-rightmove {
			height: 100%;
			width: 100%;
			padding: 2.4em;
		}

	/* CS OVERVIEW */

	.cs-information {
		width: 100%;
		background-color: #fff;
		margin: 2.4em 0;
	}

	.cs-overview {
		width: 100%;
		padding: 12em 0;
		background-color: #fff;
	}

			.cs-overview-title, .cs-overview-info {
				float: left;
				vertical-align: top;
				width: 50%;
			}

	/* CS WRAPPERS */

	.cs-image-wrapper {
		margin-top: 2.4em;
	}

	.cs-copyblock-wrapper {
		width: 100%;
		margin: 2.4em 0 4.8em 0;
	}

	.cs-multi-wrapper {
		width: 100%;
		margin: 2.4em 0;
	}

	.cs-final-block {
		margin-bottom: 12.4em;
	}

	/* CS IMAGES */

	.cs-image-one {
		width: 100%;
		height: auto;
		float: left;
	}

	.cs-image-two {
		width: calc(50% - .6em);
		height: auto;
		margin-right: 1.2em;
		float: left;
	}

	.cs-image-two:last-of-type { margin-right: 0; }

	.cs-image-three {
		width: calc(100% / 3 - .8em);
		float: left;
		margin-right: 1.2em;
		height: auto;
	}

	.cs-image-three:last-of-type { margin-right: 0; }

	.cs-image-multi {
		width: calc(70% - 2.4em);
		height: auto;
		float: left;
	}

	/* CS COPY */

	.cs-copyblock {
		width: 30%;
		margin-right: 2.4em;
		float: left;
		vertical-align: top;
	}

	.cs-copyblock:last-of-type { margin-right: 0; }

		.cs-copyblock-multi {
			width: 30%;
			float: left;
			margin-right: 2.4em;
		}

	.cs-quote {
		max-width: 800px;
		margin: 4.8em auto;
	}

	/* CS CTA */

	.cs-cta {
		height: 10em;
		width: 100%;
		background-color: #f5f5f5;
		border-top: 1px solid #e5e5e5;
		bottom: 0;
		position: fixed;
	}













































/* DEVICES @ 1024px */

@media only screen and (max-width: 1024px) {

	body {
		font-size: 15px;
	}

	.cs-copyblock {
		width: 50%;
	}

}

/* DEVICES @ 768px */

@media only screen and (max-width: 768px) {

	#landing-primary {
		width: 90%;
	}

	#landing-secondary {
		width: 10%;
	}

	.cs-copyblock {
		display: block;
		width: 100%;
	}

	.cs-overview-title, .cs-overview-info {
		display: block;
		width: 100%;
	}

		.cs-overview-info {
			margin-top: 2.4em;
		}

	.cs-multiblock-copy, .cs-multiblock-image {
		display: block;
		width: 100%;
	}

		.cs-multiblock-image {
			margin-top: 2.4em;
		}



}




























