@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

html {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
}

	h1 {
		font-size: 2.25em;
		line-height: 1.4;
		letter-spacing: .15px;
		font-weight: 400;
		color: #1c1c1c;
	}

		.brand-link {
			border-bottom: 1px dashed #676767;
			color: #676767;
			cursor: pointer;
    		transition-duration: .2s;
		}

			.brand-link:hover {
				color: #a3a3a3;
				border-bottom: 1px dashed #a3a3a3;
			}

	h2 {
		font-size: 1.25em;
		line-height: 1.5;
		letter-spacing: .1px;
		font-weight: 400;
		color: #a3a3a3;
	}

		.subtitle {
			margin-top: 1.2em;
		}

	h3 {
		font-size: .9em;
		letter-spacing: .05px;
		font-weight: 400;
		color: #a3a3a3;
	}

		.highlight {
			color: #1a1a1a;
			cursor: pointer;
		}

#wrapper {
	height: 100%;
	width: 100%;
}

	header {
		height: 100%;
		width: 42px;
		border-right: 1px solid #e5e5e5;
		top: 0;
		left: 0;
		position: fixed;
	}

		.logo {
			margin-left: 9px;
			margin-top: 15px;
			cursor: pointer;
		}

	article {
		width: calc(65% - 42px);
		height: 100%;
		margin-left: 42px;
		float: left;
		padding: 0 2.4em;
		position: relative;
	}

		.strapline {
			width: calc(100% - 4.8em);
			position: absolute;
			padding: 2em 0;
		}

		.v-centre {
			top: 50%;
			transform: translateY(-50%);
			position: absolute;
			max-width: 820px;
			width: calc(100% - 4.8em);
		}

		nav {
			width: calc(100% - 4.8em);
			position: absolute;
			bottom: 0;
			padding: 2em 0;
		}

			.nav-link {
				display: inline-block;
			}

			.left {
			}

			.right {
				float: right;
			}

	aside {
		width: 35%;
		height: 100%;
		float: left;
		background-image: url(../assets/bitmap.jpg);
		background-repeat: no-repeat;
		background-size: cover;
		background-position: left;
	}


@media only screen and (max-width: 1440px) {

	body {
		font-size: 15px;
	}

	.v-centre {
		max-width: 590px;
	}

}

@media only screen and (max-width: 970px) {

	body {
		font-size: 14px;
	}
}

@media only screen and (max-width: 768px) {

	article {
		width: calc(98% - 42px);
	}

	aside {
		width: 2%;
	}

}

@media only screen and (max-width: 570px) {

	body {
		font-size: 12px;
	}

	h1 {
		font-size: 2em;
	}
}

