

	* {
		box-sizing: border-box;
	}

	html {
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
	}

	body, html {
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	div {
		display: block;
	}

	#wrapper {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		background: black;
	}

	#button {
		text-align: center;
		height: 100px;
		width: 100px;
		background-color: black;
		margin: auto;
	}

	#pages {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		font-size: 0;
		line-height: 0;
		white-space: nowrap;
	}

	.page {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		overflow: hidden;
	}

	#red {
		background-color: red;
	}

	#blue {
		background-color: blue;
		transform: translateX(-90%);
	}




