/* ========================================================================== 
   1. DESKTOP
   ========================================================================== */


/* GENERAL */

	* {
		box-sizing: border-box;
	}

	html {
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
	}

	body, html {
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	h1 {		
		font-family: 'Lato', sans-serif;
		font-size: 2em;
		line-height: 1.3;
		letter-spacing: -1.5px;
		color: #272829;
		font-weight: 400;
	}

	h2 {		
		font-family: 'Lato', sans-serif;
		font-size: 1.4em;
		line-height: 1.5;
		letter-spacing: -.5px;
		color: #333;
		font-weight: 400;
	}

	h3 {		
		font-family: 'Lato', sans-serif;
		font-size: 1.15em;
		line-height: 1.5;
		letter-spacing: -.5px;
		color: #333;
		font-weight: 400;
	}

	body {		
		font-family: 'Lato', serif;
		font-size: 16px;
		line-height: 1.7;
		letter-spacing: -0.25px;
		color: #272829;
	}

	.Serif  {		
		font-family: 'Noto Serif', serif;
		font-style: italic;
		font-size: .95em;
		letter-spacing: -2px;
		font-weight: 700;
	}

	.ResumeLink {		
		font-size: 0.7em;
		text-decoration: none;
		color: #272829;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 0.2px;
		display: inline-block;
		line-height: 50px;
		cursor: pointer;
	}

	.WorkLink {		
		font-size: 0.7em;
		text-decoration: none;
		color: #272829;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 0.2px;
		display: inline-block;
		line-height: 50px;
		cursor: pointer;
	}

	.CaseStudyLink {
		font-size: 0.7em;
		text-decoration: none;
		color: #272829;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 0.2px;
		display: inline-block;
		margin-top: 20px;
		border-bottom: 1px dotted #272829;
	}

	.Bold { font-weight: 700; }

	.White { color: #ffffff !important; text-align: right; }

	.AboutLink {
		text-decoration: none;
		border-bottom: 1px dotted #ffffff;
		color: #ffffff;
	}

	.Date {
		font-size: .5em;
		font-weight: 700;
		color: #fff;
		opacity: .7;
	}

	.BrandLink {
		text-decoration: none;
		border-bottom: 1px dotted #272829;
		color: #272829;
	}

	header, .Border {
		background-color: #fff;
		z-index: 1;
		position: fixed;
	}

	header {		
		height: 50px;
		left: 0;
		line-height: 50px;
		top: 0;
		width: 100%;
	}

	#Home	{		
		height: 16px;
		display: inline-block;
		margin-left: 30px;
		top: 50%;
	}

	#Left {		
		top: 0;
		left: 0;
		width: 30px;
		height: 100%;
	}

	#Right {		
		top: 0;
		right: 0;
		width: 30px;
		height: 100%;
	}

	#Bottom {		
		bottom: 0;
		left: 0;
		height: 50px;
		width: 100%;
	}



	.Left {
		margin-left: 30px;
	}

	.Right {
		float: right;
		margin-right: 30px;
	}

/* GENERAL */


	

	#Landing {
		padding: 5em;
		height: calc(200% - 100px);
		width: 100%;
		margin-top: 50px;
	}

	#work {
		padding: 5em;
		height: calc(100% - 100px);
		width: 50%;
		margin-top: 50px;
		position: absolute;
		left: -50%;
		transition: .9s cubic-bezier(.5,.01,.19,.91);
		transition-delay: .4s;

	}

	#work.slide-in {
		left: 0;
	}

	#grey {
		width: 50%;
		height: 100%;
		position: absolute;
		left: 100%;
		background-color: grey;
		transition: .9s cubic-bezier(.5,.01,.19,.91);
		transition-delay: .4s;
	}

	#grey.slide-in {
		left: 50%;
	}

	.Inner {
		top: 50%;
		position: relative;
		transform: translateY(-50%);
	}

	

	.wrapper {
		position: relative;
		width: 100%;
		height: 100%;
	}

	#about {
		position: fixed;
		padding: 5em;
		left: -50%;
		width: 50%;
		height: 100%;
		background-color: #222;
		transition: .9s cubic-bezier(.5,.01,.19,.91);
	}

	#about.slide-in {
		left: 0;
	}

	

	#main {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		transition: .9s cubic-bezier(.5,.01,.19,.91);
	}

	#main.slide-in {
		left: 50%;
		opacity: .1;
	}

	#main.slide-out {
		left: -100%;
	}

