/* GENERAL */

	* {
		box-sizing: border-box;
	}

	html {
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
	}

	body, html {
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
	}

/* PAGE COMPOSITION */

	header, .border {
		background-color: #fff;
		z-index: 1;
		position: fixed;
	}

	header {		
		height: 50px;
		left: 0;
		line-height: 50px;
		top: 0;
		width: 100%;
	}

	#home	{		
		width: 70px;
		display: inline-block;
		margin-left: 30px;
		top: 50%;
	}

	#left {		
		top: 0;
		left: 0;
		width: 30px;
		height: 100%;
	}

	#right {		
		top: 0;
		right: 0;
		width: 30px;
		height: 100%;
	}

	#bottom {		
		bottom: 0;
		left: 0;
		height: 50px;
		width: 100%;
	}

/* TYPE */

	h1 {		
		font-family: 'Lato', sans-serif;
		font-size: 2em;
		line-height: 1.3;
		letter-spacing: -1.5px;
		color: #272829;
		font-weight: 400;
	}

	h2 {		
		font-family: 'Lato', sans-serif;
		font-size: 1.15em;
		line-height: 1.5;
		letter-spacing: -.5px;
		color: #333;
		font-weight: 400;
	}

	body {		
		font-family: 'Lato', serif;
		font-size: 16px;
		line-height: 1.7;
		letter-spacing: -0.25px;
		color: #272829;
	}

	.emphasis {		
		font-family: 'Noto Serif', serif;
		font-style: italic;
		font-size: .95em;
		letter-spacing: -2px;
		font-weight: 700;
	}

	.navLink {		
		font-size: 0.7em;
		text-decoration: none;
		color: #272829;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 0.2px;
		display: inline-block;
		line-height: 50px;
	}

/* STYLING */

	.left {
		margin-left: 30px;
	}

	.right {
		float: right;
		margin-right: 30px;
	}

/* CONTENT WRAPPER */

#wrapper {
	height: 100%;
	padding: 50px 30px;
	position: relative;
	}

/* CONTAINERS */

.container {
	width: 50%;
	height: 100%;
	display: inline-block;
	float: left;
}

.l { 
	padding: 3em;
	position: fixed;
	}

.r { 
	margin-left: 50%; }

.poster {
	height: 100%;
	width: 100%;
	margin-bottom: 30px;
}

#blank {
}

#rightmove {
	background-image: url(../images/rightmove.png);
	background-position: center;
}

#xbox {
	background-color: #eee;
}

#lius {
	background-color: #eee;
}

footer {
	background-color: red;
	width: 100%;
	height: 200px;
}



