	* {
		box-sizing: border-box;
	}

	html {
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
	}

	body, html {
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	header, .border {
		background-color: #fff;
		z-index: 1;
		position: fixed;
	}

	header {		
		height: 50px;
		left: 0;
		line-height: 50px;
		top: 0;
		width: 100%;
	}

	#left {		
		top: 0;
		left: 0;
		width: 30px;
		height: 100%;
	}

	#right {		
		top: 0;
		right: 0;
		width: 30px;
		height: 100%;
	}

	#bottom {		
		bottom: 0;
		left: 0;
		height: 50px;
		width: 100%;
	}

	h1 {		
		font-family: 'Lato', sans-serif;
		font-size: 32px;
		line-height: 1.3;
		letter-spacing: -1.5px;
		color: #272829;
		font-weight: 400;
	}

	h2 {		
		font-family: 'Lato', sans-serif;
		font-size: 20px;
		line-height: 1.5;
		letter-spacing: -.5px;
		color: #333;
		font-weight: 400;
	}

	body {		
		font-family: 'Lato', serif;
		font-size: 16px;
		line-height: 1.7;
		letter-spacing: -0.25px;
		color: #272829;
	}

	.emphasis {		
		font-family: 'Noto Serif', serif;
		font-style: italic;
		font-size: 30.5px;
		letter-spacing: -2px;
		font-weight: 700;
	}

	.vheight {
		height: 100%;
		padding: 50px 30px;
	}

	#resume {
		background-color: #272829;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 50%;
		z-index: 300;
		transform: translateX(-100%);
		color: white;
	}

	.split {
		width: 50%;
		height: 100%;
		float: left;
		position: relative;
	}

	.slogan {
		padding: 3em;
	}

	.project {
		background-image: url(../images/dog.jpg);
		background-repeat: no-repeat;
		background-position: center;
	}


	#fix-inner {
		top: 50%;
		position: fixed;
		transform: translateY(-50%)
	}

	.nav-link {		
		font-size: 11px;
		text-decoration: none;
		color: #272829;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 0.2px;
		display: inline-block;
		line-height: 50px;
	}

	.left {
		margin-left: 30px;
	}

	.right {
		float: right;
		margin-right: 30px;
	}

	#home	{		
		width: 70px;
		display: inline-block;
		margin-left: 30px;
		top: 50%;
	}

