/* COMPOSITION */

	* {
		box-sizing: border-box;
	}

	body, html {
		height: 100%;
		width: 100%;
		margin: 0;
		padding: 0;
	}

/* HEADER */

	header {		
		background-color: #fff;
		height: 50px;
		left: 0;
		line-height: 50px;
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 100;
	}

/* TYPE */

	h1 {		
		font-family: 'Lato', sans-serif;
		font-size: 32px;
		line-height: 38px;
		letter-spacing: -1.5px;
		color: #272829;
		font-weight: 400;
	}

	h2 {		
		font-family: 'Lato', sans-serif;
		font-size: 20px;
		line-height: 30px;
		letter-spacing: -.5px;
		color: #333;
		font-weight: 400;
	}

	body {		
		font-family: 'Lato', serif;
		font-size: 16px;
		line-height: 26px;
		letter-spacing: -0.25px;
		color: #272829;
	}

/* TYPE CLASSES */

	.emphasis {		
		font-family: 'Noto Serif', serif;
		font-style: italic;
		font-size: 30.5px;
		letter-spacing: -2px;
		font-weight: 700;
	}

	.light {
		font-weight: 400;
	}

	.border {
		background-color: #fff;
		position: fixed;
		z-index: 100;
	}

	#left {		
		top: 0;
		left: 0;
		width: 30px;
		height: 100%;
	}

	#right {		
		top: 0;
		right: 0;
		width: 30px;
		height: 100%;
	}

	#bottom {		
		bottom: 0;
		left: 0;
		height: 30px;
		width: 100%;
	}

	.vheight {
		height: calc(100% - 80px);
		width: calc(100% - 60px);
		margin: 30px 30px 30px 30px;
	}

	#landing {
		padding-left: 3%;
		margin-top: 50px;
	}

	#resume {
		top: 50%;
		position: relative;
		transform: translateY(-50%)
	}

	#rightmove {
	}

	#ethos {
		background-color: #eee;
		height: 300px;
		width: calc(100% - 60px);
		margin: 50px 30px 30px 30px;
	}

	#footer {
		height: 120px;
	}

	.project {
		width: 50%;
		height: 100%;
		display: inline-block;
		float: left;
	}

	.info {
		background-color: #fff;
		padding-left: 3%;

	}

	.hero {
		background-color: #eee;
	}

	.inner {
		margin-top: 50%;
		position: relative;
		transform: translateY(-50%)
	}

	.nav-link {		
		font-size: 11px;
		text-decoration: none;
		color: #272829;
		text-transform: uppercase;
		font-weight: 700;
		letter-spacing: 0.2px;
		display: inline-block;
		float: right;
		margin-right: 30px;
		line-height: 50px;
	}

	.brand-link {
		text-decoration: none;
		color: #000;
		border-bottom: 0.07em dotted #272829;
	}

	a.nav-link:hover {		
		opacity: 0.7;
	}

	#return	{		
		width: 70px;
		display: inline-block;
		margin-left: 30px;
		top: 50%;
	}

